<div class = "box tabular attributes" id="person_data">
  <% if PeopleInformation::modified_system_fields?(@person) %>
    <p id="issue_is_private_wrap">
      <%= hidden_field_tag 'person[information_attributes][is_system]', 0, :id => nil %>
      <%= check_box_tag 'person[information_attributes][is_system]', 1, @person.is_system %><label class="inline" for="person_information_attributes_is_system" id="person_is_system_label"><%= t(:label_people_is_system) %></label>
    </p>
  <% end %>

  <p class="avatar" id="watchers">

    <%= link_to image_tag('delete.png'), '',
                                           :confirm => t(:text_are_you_sure),
                                           :method => :delete,
                                           :class => 'delete',
                       :style => "vertical-align: middle;",
                                           :title => t(:button_delete) %>
  </p>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p><%= label_tag t(:label_people_avatar) %> <%= file_field_tag 'person_avatar[file]', :id => nil  -%> </p>
      <p><%= f.text_field :firstname, :required => true %></p>

      <%= f.fields_for :information do |information| %>
        <p><%= information.text_field :middlename, :label => t(:label_people_middlename) %></p>
        <p><%= f.text_field :lastname, :required => true %></p>

        <p><%= information.select :gender, Person.genders, :label => t(:label_people_gender)%></p>
        <p><%= information.text_field :birthday, :size => 12, :label => t(:label_people_birthday), type: 'date', value: @person.birthday.try(:to_date) %><%= calendar_for('person_information_attributes_birthday') %> </p>
        <p><%= f.text_field :mail, :required => true %></p>
        <p><%= information.text_area :address, :label=>t(:label_people_address), :rows => 5 -%></p>

        <div id="phones_fields">
          <p>
            <%= information.text_field :phone, :label => t(:label_people_phone), :size => 80 -%>
            <br>
            <em><%= t(:text_comma_separated) %></em>
           </p>
        </div>
    </div>
    <div class="splitcontentright">
      <% if @person.id != User.current.id %>
      <p><%= f.select :status, options_for_select([[t(:status_active), 0], [t(:status_locked), 1]], @person.status.to_s) %></p>
      <% end %>      
      <p><%= information.text_field :job_title, :label => t(:label_people_job_title) %></p>
      <% unless @departments.blank? %>
        <p><%= information.select :department_id, department_tree_options_for_select(@departments,  :selected => @person.department_id), :include_blank => true, :label => t(:label_people_department) %></p>
      <% end %>    
      <% if @person.available_managers.any? || @person.new_record? %>
        <p id="person_information_attributes_manager_id_wrap">
          <label><%= t(:label_people_manager) %></label>
          <%= hidden_field_tag 'person[information_attributes][manager_id]', nil %>
          <%= select_tag 'person[information_attributes][manager_id]',
                          options_for_select(@person.available_managers.where(id: information.object.manager_id).map { |manager| [manager.name, manager.id] }, information.object.manager_id),
                          url: '',
                          placeholder: '',
                          format_state: 'formatStateWithAvatar',
                          allow_clear: true %>
        </p>
      <% end %>
      <p><%= information.date_field :appearance_date, :size => 12, :label => t(:label_people_appearance_date), value: @person.appearance_date.try(:to_date) %><%= calendar_for('person_information_attributes_appearance_date') %> </p>

      <!-- 
      <p><%= information.text_field :skype, :label => t(:label_people_skype) -%></p>
      <p><%= information.text_field :facebook, :label => t(:label_people_facebook) + ' ID'-%></p>
      <p><%= information.text_field :twitter, :label => t(:label_people_twitter) -%></p>
      <p><%= information.text_field :linkedin, :label => t(:label_people_linkedin) + ' ID' -%></p>
      -->
    </div>
  </div>  


    <p class  = "notes"><%= information.text_area :background , :cols => 80, :rows => 8, :class => 'wiki-edit', :label => t(:label_people_background)  %></p>
    <%= wikitoolbar_for 'person_information_attributes_background' %>
  <% end %>
</div>
