
  <% if PeopleInformation::modified_system_fields?(@person) %>
    <p id="issue_is_private_wrap">
      <%= hidden_field_tag 'person[information_attributes][is_system]', 0, :id => nil %>
      <%= check_box_tag 'person[information_attributes][is_system]', 1, @person.is_system %><label class="inline" for="person_information_attributes_is_system" id="person_is_system_label"><%= t(:label_people_is_system) %></label>
    </p>
  <% end %>

  <div class="form--section">
      <div class="form--field -required"><%= label_tag t(:label_people_avatar) %> <%= file_field_tag 'person_avatar[file]', :id => nil  -%> </div>
      <div class="form--field -required"><%= f.text_field :firstname, :required => true , :container_class => "-middle" %></div>
      <div class="form--field -required"><%= f.text_field :lastname, :required => true, :container_class => "-middle" %></div>
      <div class="form--field -required"><%= f.text_field :mail, :required => true, :container_class => "-middle" %></div>

      <%= f.fields_for :information do |information| %>

        <div class="form--field"><%= information.select :gender, Person.genders, :label => t(:label_people_gender), :container_class => "-middle" %></div>
    
        <div class="form--field"><%= information.date_picker :birthday , :label => t(:label_people_birthday) , :container_class => "-middle" %></div> 

        <div id="phones_fields">
          <div class="form--field">
            <%= information.text_field :phone, :label => t(:label_people_phone), :size => 80 , :container_class => "-middle" -%>
            <br>
            <em><%= t(:text_comma_separated) %></em>
          </div>
        </div>
      </div>

    <div class="form--section">
      <% if @person.id != User.current.id %>
      <div class="form--field"><%= f.select :status, options_for_select([[t(:status_active), 0], [t(:status_locked), 1]], @person.status.to_s), :container_class => "-middle" %></div>
      <% end %>      
      <div class="form--field "><%= information.text_field :job_title, :label => t(:label_people_job_title) , :container_class => "-middle" %></div>
      <div class="form--field "><%= f.select :station_id, Station.all.collect {|s| [s.name, s.id]}, :include_blank => true, :label => t(:label_station), :container_class => "-middle" %></div>
      <% unless @departments.blank? %>
        <div class="form--field"><%= information.select :department_id, department_tree_options_for_select(@departments,  :selected => @person.department_id), :include_blank => true, :label => t(:label_people_department)  , :container_class => "-middle" %></div>
      <% end %>

      <% if @person.available_managers.any? || @person.new_record? %>
        <div class="form--field" id="person_information_attributes_manager_id_wrap">
          <label class="form--label"><%= t(:label_people_manager) %></label>
          <%= hidden_field_tag 'person[information_attributes][manager_id]', nil %>
          <span class=" form--field-container"><span class="form--select-container -middle">
          <%= local_select2_tag  'person[information_attributes][manager_id]',
                          options_for_select(@person.available_managers.where(id: information.object.manager_id).map { |manager| [manager.name, manager.id] }, information.object.manager_id),
                          url: autocomplete_for_manager_person_path(id: f.object.id || 'new'),
                          placeholder: '',
                          format_state: 'formatStateWithAvatar',
                          allow_clear: true %>
                          </span></span>
        </div>
      <% end %>
     
    </div>

  <% end %> 
</div>

