

<h2><%= t(:label_people_edit_person) %></h2>

<%= labelled_tabular_form_for @person,
                             :url => {:action => 'update', :id => @person}  do |f|  %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag t(:button_save) -%>
<% end -%>

<% content_for :sidebar do %>
<% end %>

<% content_for :header_tags do %>

  <%= javascript_include_tag :redmine_people, :plugin => 'redmine_people'  %>
  <%= robot_exclusion_tag %>
<% end %>
